# Environment
.env

# Python
__pycache__/
*.py[cod]
.venv/

# Generated templates
*-template.md

# macOS
.DS_Store

# files
*.csv
!contact-list.csv
*.xlsx
!contact-list.xlsx
*.ods
!contact-list.ods
*.html
# Markdowns
*.md
!README.md
